<div class="container">
  <div class="card mb-5 mt-5 pb-5">
    <div class="card-body">
      <h4 class="mt-3 mb-3">Comments ({{commentsArray.length}})</h4>
      <hr>
      <div class="comment-box mt-4" *ngFor="let comment of commentsArray">
        <h5 class="mb-0">{{comment.data.name}}</h5>
        <small>LAST UPDATED - {{comment.data.createdAt.toMillis() | date}}</small>

        <div class="mt-3 mb-3">
          <p>{{comment.data.comment}}</p>
        </div>

        <a href="#" class="mt-2">Reply</a>
        <a href="#" class="mt-2">View Reply</a>
      </div>
    </div>
  </div>
</div>
