<div class="container">
  <button class="sub_btn" [routerLink]="['/allPosts']" routerLinkActive="router-link-active"
    mat-stroked-button><mat-icon>arrow_back</mat-icon>Back to All Posts</button>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-body">
          <h3>Add New Post</h3>
          <p>From here you can add your new post.</p>
          <hr>

          <form action="">
            <div class="row">
              <div class="col-md-7">
                <div class="card2">
                  <div class="card-body">
                    <mat-form-field class="mb-3 example-form-field" appearance="outline">
                      <mat-label>Title</mat-label>
                      <input matInput name="title" type="text" (keyup)="onTitleChange($event)">
                      <button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-error>This field is
                        required</mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-3 example-form-field" appearance="outline">
                      <mat-label>Permalink</mat-label>
                      <input matInput name="permalink" type="text" [ngModel]="permalink">
                      <button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-error>This field is
                        required</mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-3 example-full-width" appearance="outline">
                      <mat-label>Excerpt</mat-label>
                      <textarea name="excerpt" matInput></textarea>
                      <mat-error>This field is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-md-5">
                <div class="card2">
                  <div class="card-body">
                    <mat-form-field appearance="outline">
                      <mat-label>Post Category</mat-label>
                      <mat-select name="category" appearance="outline">
                        <mat-option *ngFor="let category of categoryArray"
                          value="category">{{category.data.category}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <div class="fileGroup">
                      <label class="fileLabel" for="image">Post Image</label>
                      <img [src]="imgSrc" class="formc-control img-fluid img-preview">
                      <input name="image" type="file" class="fileInput" accept="image/*" (change)="showPreview($event)">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-md-12">
                <div class="card2">
                  <div class="card-body">
                    <mat-form-field class="mb-3 example-full-width" appearance="outline">
                      <mat-label>Content</mat-label>
                      <textarea name="content" matInput></textarea>
                      <mat-error>This field is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <button mat-stroked-button class="sub_btn mt-5 mb-0" [routerLink]="['/allPosts']"
                  routerLinkActive="router-link-active">Save Post</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="moveUpBtn" (click)="moveUp()">
  <mat-icon>arrow_upward</mat-icon>
</button>

<ngx-loading *ngIf="loading" [show]="loading"></ngx-loading>