<div class="container">
  <button class="sub_btn" [routerLink]="['/allPosts']" routerLinkActive="router-link-active"
    mat-stroked-button><mat-icon>arrow_back</mat-icon>Back to All Posts</button>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-body">
          <h3>{{formStatus}} Post</h3>
          <hr>

          <div *ngIf="postForm">
            <form action="" [formGroup]="postForm">
              <div class="row">
                <div class="col-md-7">
                  <div class="card2">
                    <div class="card-body">
                      <mat-form-field class="mb-3 example-form-field" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input formControlName="title" matInput name="title" type="text"
                          (keyup)="onTitleChange($event)">
                        <button matSuffix mat-icon-button aria-label="Clear">
                          <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="postForm.controls['title'].hasError('required')">This field is
                          required</mat-error>
                      </mat-form-field>

                      <mat-form-field class="mb-3 example-form-field" appearance="outline">
                        <mat-label>Permalink</mat-label>
                        <input formControlName="permalink" matInput name="permalink" type="text" [ngModel]="permalink">
                        <button matSuffix mat-icon-button aria-label="Clear">
                          <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="postForm.controls['permalink'].hasError('required')">This field is
                          required</mat-error>
                      </mat-form-field>

                      <mat-form-field class="mb-3 example-full-width" appearance="outline">
                        <mat-label>Excerpt</mat-label>
                        <textarea formControlName="excerpt" name="excerpt" matInput></textarea>
                        <mat-error *ngIf="postForm.controls['excerpt'].hasError('required')">This field is
                          required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="card2">
                    <div class="card-body">
                      <mat-form-field appearance="outline">
                        <mat-label>Post Category</mat-label>
                        <mat-select formControlName="category" name="category" appearance="outline">
                          <mat-option disabled>-- select a category --</mat-option>
                          <mat-option *ngFor="let category of categoryArray"
                            value="{{category.idID}}-{{category.data.category}}">{{category.data.category}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="postForm.controls['category'].hasError('required')">This field is
                          required</mat-error>
                      </mat-form-field>

                      <div class="fileGroup"
                        [ngClass]="{'imgInvalid': postForm.controls['image'].hasError('required') && submitTry}">
                        <label class="fileLabel" for="image">Post Image</label>
                        <img [src]="imgSrc" class="formc-control img-fluid img-preview">
                        <input formControlName="image" name="image" type="file" class="fileInput" accept="image/*"
                          (change)="showPreview($event)">
                      </div>
                      <small class="mt-2 errorMsg"
                        *ngIf="postForm.controls['image'].hasError('required') && submitTry">This field is
                        required</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-md-12">
                  <div class="card2">
                    <div class="card-body"
                      [ngClass]="{'imgInvalid': postForm.controls['content'].hasError('required') && submitTry}">
                      <angular-editor formControlName="content" matInput name="content"></angular-editor>
                    </div>
                    <small class="mt-5 errorMsg"
                      *ngIf="postForm.controls['content'].hasError('required') && submitTry">This field is
                      required</small>
                  </div>

                  <button mat-stroked-button class="sub_btn mt-5 mb-0" (click)="onSubmit()">Save Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="moveUpBtn" (click)="moveUp()">
  <mat-icon>arrow_upward</mat-icon>
</button>

<ngx-loading *ngIf="loading" [show]="loading"></ngx-loading>