@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform: translateY(0px);
    transform: scale(1);
    border-radius: 24% 70% 10% 47% / 70% 33% 85% 10%;
  }

  50% {
    border-radius: 32% 22% 61% 10% / 56% 22% 74% 12%;
  }

  100% {
    transform: translateY(250px);
    transform: rotate(360deg);
    transform: scale(1.1);
    border-radius: 52% 48% 95% 57% / 52% 97% 63% 45%;
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    transform: translateY(0px);
    transform: scale(1);
    border-radius: 40% 50% 80% 70% / 50% 70% 45% 60%;
  }

  50% {
    border-radius: 62% 42% 81% 50% / 46% 62% 44% 72%;
  }

  100% {
    transform: translateY(250px);
    transform: rotate(360deg);
    transform: scale(1.05);
    border-radius: 52% 48% 95% 57% / 52% 97% 63% 45%;
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
    transform: scale(1);
    border-radius: 65% 87% 48% 52% / 64% 54% 49% 80%;
  }

  50% {
    right: 170px;
    border-radius: 52% 82% 61% 70% / 96% 42% 74% 92%;
  }

  100% {
    right: 150px;
    top: -150px;
    transform: rotate(360deg);
    transform: scale(1.1);
    border-radius: 52% 48% 55% 87% / 72% 57% 43% 85%;
  }
}

@keyframes rotate4 {
  0% {
    transform: rotate(0deg);
    transform: translateY(0px);
    transform: scale(1);
    border-radius: 45% 53% 82% 71% / 54% 84% 79% 48%;
  }

  50% {
    left: 205px;
    border-radius: 72% 42% 91% 57% / 48% 83% 62% 73%;
  }

  100% {
    left: 185px;
    bottom: -150px;
    transform: translateY(250px);
    transform: rotate(360deg);
    transform: scale(0.97);
    border-radius: 82% 73% 91% 73% / 68% 49% 73% 57%;
  }
}

@mixin gradient {
  width: var(--size);
  height: var(--size);
  border-radius: 30% 70% 15% 30% / 70% 25% 85% 80%;
}
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------

* {
  transition: all 0.25s ease-out;
}

:host {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  place-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  position: absolute;
  z-index: 10;
}

button:hover + .gradient,
button:hover + .gradient2,
button:hover + .gradient3,
button:hover + .gradient4 {
  background-color: hsla(224, 67%, 63%, 0.329);
}

.gradient {
  @include gradient;
  position: absolute;
  --size: 230px;
  --speed: 6s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  filter: blur(calc(var(--size) / 12));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  background-image: linear-gradient(
    hsla(224, 82%, 57%, 0.551),
    hsla(233, 82%, 57%, 0.648)
  );
  transition: background-color 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: 5;
}

.gradient2 {
  @include gradient;
  position: absolute;
  --size: 225px;
  --speed: 4s;
  --easing: cubic-bezier(0.4, 0.5, 0.4, 0.5);
  filter: blur(calc(var(--size) / 12));
  animation: rotate2 var(--speed) var(--easing) alternate infinite;
  background-image: linear-gradient(
    hsla(212, 71%, 30%, 0.85),
    hsl(219, 65%, 35%)
  );
  transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.gradient3 {
  @include gradient;
  position: relative;
  right: 150px;
  top: 170px;
  --size: 75px;
  --speed: 25s;
  --easing: cubic-bezier(0.6, 0.4, 0.5, 0.8);
  filter: blur(calc(var(--size) / 4));
  animation: rotate3 var(--speed) var(--easing) alternate infinite;
  background-image: linear-gradient(
    hsla(233, 82%, 57%, 0.648),
    hsl(219, 46%, 47%)
  );
  transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.gradient4 {
  @include gradient;
  position: relative;
  left: 185px;
  bottom: 170px;
  --size: 105px;
  --speed: 25s;
  --easing: cubic-bezier(0.7, 0.5, 0.6, 0.5);
  filter: blur(calc(var(--size) / 8));
  animation: rotate4 var(--speed) var(--easing) alternate infinite;
  background-image: linear-gradient(
    hsla(233, 49%, 46%, 0.648),
    hsl(219, 73%, 27%)
  );
  transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------

@media (min-width: 770px) {
  .gradient {
    --size: 420px;
  }

  .gradient2 {
    --size: 320px;
  }

  .gradient3 {
    --size: 135px;
    right: 380px;
    top: 170px;
  }

  .gradient4 {
    --size: 205px;
    left: 435px;
    bottom: 170px;
  }
}
