<div class="container">
  <button class="sub_btn" [routerLink]="['/posts']" routerLinkActive="router-link-active"
    mat-stroked-button><mat-icon>arrow_back</mat-icon>Back to List</button>
  <div class="row">
    <div class="col-xl-9 col-md-12">
      <div class="card">
        <img src="{{postData.postImgPath}}" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <div class="tags mt-2">
            <small class="text-center">#{{postData.category}}</small>
            <small class="text-center views">Views - {{postData.views}}</small>
            <small class="updated text-center">LAST UPDATED - {{postData.createdAt.toMillis() |
              date}},</small>
          </div>

          <h1 class="mt-5">{{postData.title}}</h1>
          <hr>
          <p [innerHtml]="postData.content"></p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-xl-3">
      <div class="cards">
        <app-post-card></app-post-card>
      </div>
    </div>
    <button class="moveUpBtn" (click)="moveUp()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
</div>


<app-subscription-form></app-subscription-form>

<ngx-loading *ngIf="loading" [show]="loading"></ngx-loading>
