* {
  transition: all 0.25s ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform: translateY(0px);
    transform: scale(1);
  }
  100% {
    transform: translateY(250px);
    transform: rotate(360deg);
    transform: scale(1.2);
  }
}

.gradient {
  --size: 250px;
  --speed: 10s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 12));
  background-image: linear-gradient(hsla(235, 82%, 57%, 0.85), hsl(233, 82%, 57%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 15% 30% / 70% 25% 85% 80%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 400px;
  }
}
