@mixin bg-color {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    hsl(219, 50%, 27%),
    hsl(219, 46%, 39%),
    hsl(219, 61%, 56%),
    hsl(219, 45%, 35%)
  );
}

//--------------------------------------------------------------
//--------------------------------------------------------------
//--------------------------------------------------------------

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  width: 100%;
  min-height: 70px;
  pointer-events: none;
  z-index: 10;

  .container {
    display: flex;
    justify-content: center;

    .logo {
      display: flex;
      align-items: center;
      padding: 0 10px;
      cursor: pointer;

      &__logo {
        margin-right: 8px;
        width: 20px;
      }

      &__name {
        @include bg-color;
        margin-bottom: 0;
        padding-top: 2px;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        transition: color 0.3s;
      }
    }
  }
}
