<div class="container">
  <button class="sub_btn" [routerLink]="['/posts']" routerLinkActive="router-link-active"
    mat-stroked-button><mat-icon>arrow_back</mat-icon>Back to Posts</button>
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="card" [routerLink]="['/categories']" routerLinkActive="router-link-active">
        <div class="card-body">
          <i class="fas fa-clipboard-list"></i>
          <h2>Category</h2>
          <p>Manage Your Category Details</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
