<mat-card class="example-card" [routerLink]="['/singlePost']" routerLinkActive="router-link-active">
  <img mat-card-image src="{{postData.data.postImgPath}}">
  <mat-card-content class="card-body">
    <div class="tags mt-2 mb-3">
      <small class="text-center">#{{postData.data.category.category}}</small>
      <small class="text-center views">Views - 100,256</small>
    </div>

    <h3 class="mt-1"> {{postData.data.title}}</h3>
    <hr>
    <div class="content">
      <p>{{postData.data.excerpt}}</p>
    </div>

    <small class="updated text-center ml-3">LAST UPDATED - {{postData.data.createdAt.toMillis() |
      date}}</small>
  </mat-card-content>
</mat-card>
