<mat-card class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content class="card-body">
    <div class="tags mt-2 mb-3">
      <small class="text-center">Design</small>
      <small class="text-center">Featured</small>
      <small class="text-center">Views - 100,256</small>
    </div>

    <h3 class="mt-1"> HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, sed?</p>

    <small class="text-center ml-3">LAST UPDATED - SEP 20, 2021</small>
  </mat-card-content>
</mat-card>
