.example-card {
  max-width: 300px;
  color: whitesmoke;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.364);
  overflow: hidden;

  img {
    margin-bottom: 10px;
    border-radius: 0px;
  }

  .card-body {
    h3 {
      font-weight: bold;
      text-decoration: underline;
    }

    p {
      font-size: 1.4rem;
    }

    small {
      margin-right: 8px;
      color: rgb(72, 101, 180);
    }

    .tags {
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
  }
}
